li li a{
  padding: 25px 200px;
  text-align: left;
}
.menudeplataformas{
  display: none;
}
.atesite{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding-left: 5px;
  font-weight: normal;
  border-bottom: none;
  border: none;
  display: block;
  background-color: transparent;
}


.ate span{
  display: none;
}
.atesite i{
  color: #27d8ac;
  display: inline-block;
  margin-right: 10px;
}
.ate i{
  display: none;
}

#insta{
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
#zap{
  color: green;
}
#fm{
  color: blue;
}
.zap{
  background-color: white;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



.instagram{
  background-color: white;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.messenger{
  background-color: white;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media (max-width: 740px){
  .atesite{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    font-weight: normal;
    border-bottom: none;
    background-color: none;
    border: none;
    display: none;
  }
  .ate span{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    font-weight: normal;
    border-bottom: none;
    display: inline;
  }
  .atesite i{
    display: none;
  }
  .ate i{
    display: inline-block;

  }

  .menudeplataformas{
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    display: block;
    color: black;
    transition: .5s;
    margin: 0 auto;
    
  }
  
.menudeplataformas i{
  padding-right: 50px;
}
  .menudeplataformas nav{
    background-color: white;
    margin-left: 3%;
    font-style: arial;
  }
  .menudeplataformas ul, .menudeplataformas li, .menudeplataformas i, .menudeplataformas a{
    background-color: white;
    color: black;

  }
  .menudeplataformas i{
    color:black
  }


  #checkate:checked ~ .menudeplataformas{
    top: 50%;
  }

}