.menudeplataformas {
  display: none;
}

.atesite {
  border-bottom: none;
  border: none;
  display: block;
  background-color: transparent;
}

.ate span {
  display: none;
}
.atesite i {
  color: #27d8ac;
  display: inline-block;
  margin-right: 10px;
}
.ate i {
  display: none;
}

#insta {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );

  background-clip: text;
  -webkit-background-clip: text;
}
#zap {
  color: green;
}
#fm {
  color: blue;
}

@media (max-width: 740px) {
  li nav ul li {
    border: none;
    line-height: 0px;
    border-bottom: 1px solid #27d8ac;
  }
  li nav ul li a {
    padding-right: 100%;
  }

  .atesite {
    display: none;
  }
  .ate span {
    color: white;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    display: inline-block;
  }
  .atesite i {
    display: none;
  }
  .ate i {
    display: inline-block;
  }

  .menudeplataformas {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    display: block;
    color: black;
    transition: 0.5s;
  }
  .menudeplataformas button {
    text-transform: uppercase;
    background-color: white;
    border: none;
    text-decoration: none;
    line-height: 70px;
  }

  .menudeplataformas i {
    margin-right: 25px;
  }
  .menudeplataformas nav {
    background-color: white;
    margin-left: 5%;
  }
  .menudeplataformas ul,
  .menudeplataformas li,
  .menudeplataformas i,
  .menudeplataformas a {
    background-color: white;
    color: black;
  }
  .menudeplataformas i {
    color: black;
  }

  #checkate:checked ~ .menudeplataformas {
    top: 50%;
  }
}
