.menudeplataformas {
  display: none;
}
.Dropdown {
  position: relative;
  display: inline-block;
  background-color: none;
  
}
.dropdown-conteudo{
  display: none;
  position: absolute;
  border-radius: 5px 5px 5px 5px;
}

.atesite {
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: medium;

}
.Dropdown:hover .dropdown-conteudo {
  display: block;
  border-radius: 5px 5px 5px 5px;
}

.atesite:hover{
  background-color: #3e5f57;
  border-radius: 5px 5px 5px 5px;
}
.atesite:hover i{

    background-color: #3e5f57;

}
.dropdown-conteudo a {
  color: rgb(255, 255, 255);
  padding: 12px 57.5px;
  text-decoration: none;
  display: block;
  background-color: #717e7b;
  border-top: 0.1px solid rgb(0, 0, 0);
}

.ate span {
  display: none;
}
.atesite i {
  color: #27d8ac;
  display: inline-block;
  margin-right: 10px;
}
.ate i {
  display: none;
}

#insta {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );

  background-clip: text;
  -webkit-background-clip: text;
}
#zap {
  color: green;
}
#fm {
  color: blue;
}

@media (max-width: 740px) {
  li nav ul li {
    border: none;
    line-height: 0px;
  }


  li nav ul li a {
    text-decoration: none;
    color: inherit;
  }
.Dropdown{
  display: none;
}
  .atesite {
    display: none;
  }
  .ate span {
    color: white;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    display: inline-block;
    font-size: small;
  }
  .atesite i {
    display: none;
  }
  .ate i {
    display: inline;
  }

  .menudeplataformas {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    display: block;
    color: black;
    transition: 0.5s;
  }
  .menudeplataformas button {
    position: relative;
    text-transform: uppercase;
    background-color: white;
    border: none;
    text-decoration: none;
    padding: 25px 100%;
    padding-left: 0;
  }

  .menudeplataformas i {
    margin-right: 25px;
  }
  .menudeplataformas nav {
    background-color: white;
    margin-left: 5%;
  }
  .menudeplataformas ul,
  .menudeplataformas li,
  .menudeplataformas i,
  .menudeplataformas a {
    background-color: white;
    color: black;
  }
  
  #checkate:checked ~ .menudeplataformas {
    top: 60%;
  }
}
