
#servicescontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "i t"
    "a p";
  gap: 5%;
  width: 1000px;
  margin: 0 auto;
  margin-top: 150px;
  
}
.illustrationpag {
  width: 100%;
  height: 100%;
  grid-area: i;
}

.illustrationpag img {
  margin: 0 auto;

  top: 50%;
  left: 50%;
  border-radius: 5px;
  border: 1px solid rgb(46, 223, 170);
}

.textotitulo {
  grid-area: t;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #27d8ac;
  font-weight: bolder;
  width: 75%;
  margin: auto;
  
}
.textotitulo h1 {
  width: 100%;
  height: 100%;
 
  text-align: justify;
  
  
}
.servicesapre {
  align-self: center;
  color: white;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  grid-area: a;
  box-shadow: 0px -1px 5px #27d8ac;
  padding: 25px;

}
.servicesapre ol{
  padding-left: 10%;
  
}
.servicesapre ol li{
  list-style-type: decimal;
  padding-top: 5px;
  text-transform: uppercase;
}

.servicesaprepremium ol li{
  list-style-type: circle;
  padding-top: 5px;
  text-transform: uppercase;
}
.servicesapre i {
  padding: 0 10px;
}
.servicesapre h1 {
  margin-bottom: 100px;
}
.servicesapre h2 {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #27d8ac;
}

.servicesapre h3 {
  text-align: justify;
}

.servicesaprepremium {
  padding: 25px;
  grid-area: p;
  box-shadow: 0px -1px 5px #27d8ac;
}
.servicesaprepremium i {
  padding: 0 10px;
}
.servicesaprepremium h2 {
  text-align: center;
  color: #27d8ac;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.servicesaprepremium h3 {
  text-align: justify;
  align-self: center;
  color: white;
  font-family: "Roboto", sans-serif;
}
 span {
  color: #27d8ac;
  text-transform: uppercase;
}

@media (max-width: 790px) {
  #servicescontent {
    grid-template-columns: 1fr;
    grid-template-areas:
      "t"
      "i"
      "a"
      "p";
    width: 100%;
    gap: 50px;
    padding: 0;
    margin-bottom: 100px;
    margin-top: 0;
  }
  h1{
    margin-top: 100px;
  }
  .illustrationpag {
    margin: 0 auto;
    text-align: center;
  }
  .illustration img {
    border: none;
  }

  .textotitulo h1 {
    width: 95%;
    
  }
.servicesapre{
  width: 75%;
  align-items: center;
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;

}

.servicesaprepremium{
  width: 75%;
  align-items: center;
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;

}
h1{
  font-size: 20px;

}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
}
