
.servicescontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "i a a";
    gap: 50px;
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    
    
}
.illustration{
    display: flex;
    width: 250px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    width: auto;
    grid-area: i;

}

.illustration img{
    max-width: 100%;
    max-height: 100%;
    
    object-fit: cover;
    border-radius: 5px;
}

.servicesapre{
    align-self: center;
    color: white;
    text-indent: 10%;
    font-size:medium;
    font-family: 'Roboto', sans-serif;
    grid-area: a;
}
.servicesapre h1{

}
.servicesapre h2{

}

@media (max-width: 1231px){
    
.servicescontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "i i a a";
    gap: 50px;
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    
    
}
}

@media (max-width: 790px){
.servicescontent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "i"
    "a";
    gap: 50px;
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;  
}
.illustration{
    margin: 0 auto;
    display: flex;
    width: 250px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    width: auto;
    grid-area: i;

}
}