@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;  
  transition: color 0.5s;
  transition: filter 1s;
  background-color: #313131;
}
.ate span{
  color: white;
  font-size:medium;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  transition: color 1s;
  padding-left: 10px;
  font-weight:normal;
  border-bottom: none
}
.zap{
  background-color: white;
  border: none;
  padding: 15px 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  
}
.instagram{
  background-color: white;
  border: none;
  padding: 15px 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  
}
.menudeplataformas{
  display: none;
  
}

.menudeplataformas ul li{
  border-bottom: 5px solid red;
}
#conteudo{
  margin: 0 auto;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  grid-template-areas: 
  "a l" 
  "s s" 
  "c i"
  "c w" 
  "r r";
  z-index: 0;
}
.logotipo{
  align-self: center;
  grid-area: l;
  text-align: center;

}
.logotipo p{
  
  
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  width: 90%;
  margin: auto;
  line-height: 30px;
  align-items: center;
  align-self: center;
  align-content: center;
}
.logotipo small{
  font-size: large;
  color: #27d8ac;
}
#apresentacao{
  width: 75%;
  margin: 0 auto;
  margin-right: 10px;
  color: white;
  text-indent: 10%;
  text-align: justify;
  grid-area: a;
  font-size:  medium;
  font-family: 'Roboto', sans-serif;
}
h1{
  margin-top: 10px;
  text-indent: 0;
  text-align: center;
  font-size: xx-large;

}
h2{
  color: #27d8ac;
}
h3{
  font-size: x-large;
}
#serviços{
  margin-top: 50px;
  grid-area: s;
  text-align: center;
  scroll-margin-top: 100px;
  

}

.card{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #303030;


  display: inline-block;
  margin: 10px 10px;
}

.card .face{
  position: absolute;
  width: 100%;
  height: 100%;
  
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}
.card .front{
  transform: perspective(600px) rotateY(0deg);

  
}
.card .front img{
  width: 100%;
  height: 100%;

  object-fit: cover;

}
.card .front h3{
  position: absolute;
  bottom: 25px;
  width: 100%;
  height: 10%;
  color: white;
  background: #243D37;
  text-align: center;
  color: white;
  grid-area: a;
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  
  
  

}
.card .back{
  transform:  perspective( 600px) rotateY(180deg);
  box-shadow: 0px -5px 5px #162522;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;


}

.card .back .button{
  color: white;
  height: 50px;
  line-height: 50px;
  background-color: #243D37;
  border-radius: 5px ;
  font-size: x-large;
  text-transform: uppercase;
  font-weight: bold;
}


.card .back h3{
  font-size:  30px;
  margin-top:  20px;
  letter-spacing:  2px;
  margin-bottom: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  
  

}
.card .back p {
  color: white;
  margin: 0px 20px;
  text-align: center;
  text-align: justify;
  grid-area: a;
  font-size: medium;
  font-family: 'Roboto', sans-serif;

}

.card:hover .front{
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
  transform: perspective(600px) rotateY(360deg);
}



#serviços h1{
  color: rgb(39, 216, 172);
  text-transform: uppercase;
  font-size: x-large;
}



#contato{
  width: 100vw auto;
  grid-area: c;
  scroll-margin-top: 80px;
  padding: 25px 0px;
  text-align: center;
  color: #27d8ac;
  scroll-behavior: smooth;
  grid-area: c;
  text-transform: uppercase;
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  background-color: #272727;
  

}
#contato p{
  padding-top: 20px;
  color: white;
  background-color: #272727;
  font-size: medium;
  text-align: justify;
  width: 50%;
  margin: auto;
  font-weight: 500;
}

#contato i{
  background-color: #272727;
}
#contato li{
  text-align: left;
  margin: auto;
  width: 50%;
  padding-top: 20px;
  background-color: #272727;
  font-size: medium;
  
}
#contato ul{
  background-color: #272727;
}

.trabalheconosco{
  padding: 25px 0px;
  grid-area: i;
  scroll-margin-top: 80px;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #27d8ac;
  scroll-behavior: smooth;
  grid-area: c;
  text-transform: uppercase;
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  background-color: #272727;
  
}

.trabalheconosco h2{
  width: 50%;
  margin: auto;
  padding-top: 20px;
  color: white;
  font-size: medium;
  text-align: justify;
  background-color: #272727;
  font-weight:500;
}




.rodape{
  margin-top: 50px;
  height: 100px;
  background-color: rgb(32, 32, 32);
  grid-area: r;
 

}
.conteiner{
  display: none;
}
.barra{
  width: 100vw;
  height: auto;
  display: inline-block;
  z-index: 1;
  position: fixed;
  top: 0px;
  box-shadow: 0px 0px 1px black;

}
.Logo img{
  position: absolute;
  padding-top: 10px;
  padding-left: 13%;  
  z-index: 3;
}



.menulat{
  padding-right: 10%;
  color: rgb(39, 216, 172);
  
  
}
nav ul{
  transition: ease-in-out left .4s;
  float: right;
  
  
}

nav ul li{
  padding-left: 30px;
  padding-top:  30px;
  padding-bottom: 20px;
  display: inline-block;
  transition: color 1s;
}
nav ul li a{
  color: white;
  font-size:medium;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  transition: color 1s;
  padding-left: 10px;
}
.checkbtn{
  font-size: 30px;
  float: right;
  margin-right: 15%;
  margin-top: 5px;
  display: none;
  max-width: 100%;
}
#check{
  display: none;
}
#check:checked ~ ul{
  left: 50%;
}

#checkate{
  display: none;
  margin: 0;
  padding: 0;
}


@media (max-width: 740px){

  
  #conteudo{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a l" 
    "s s" 
    "c c" 
    "c w" 
    "i i"
    "r r";
    padding-top: 100px;  
  }
  #apresentacao{
    width: 90%;
    margin: none;
    text-align: justify;
    grid-area: a;
    font-size:medium;
    font-family: 'Roboto', sans-serif;
  } 


  .menudeplataformas{
    position: fixed;
    top: 100%;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: white;
    display: block;
    border-bottom: 1px solid red;
    color: black;
    transition: .5s;
    
  }
  .menudeplataformas nav{
    background-color: white;
    margin-left: 3%;
    font-style: arial;
  }
  .menudeplataformas ul, .menudeplataformas li, .menudeplataformas i, .menudeplataformas a{
    background-color: white;
    color: black;

  }
  .menudeplataformas i{
    color:black
  }


  #checkate:checked ~ .menudeplataformas{
    top: 50%;
    

  }

  .button{
    background-color: none;
    border: none;
  }
  .menulat{
    height: 100%;
    padding-left: 0%;
    color: rgb(39, 216, 172);
    z-index: 1;
    
  }
  #serviços{
    grid-area: s;
    text-align: center;
    scroll-margin-top: 85px;
    
    
  }
  .card{
    position: relative;
    width: 400px;
    height: 400px;
    display: inline-block;
    
    
  }

  #contato{
    scroll-margin-top: 80px;


  }
  .caixadecontato{
    grid-area: i;
    height: 100vh;
    background-color: rgb(37, 37, 37);
  }
  
  .Logo{
    display: none;
  }
  .logotipo{
  filter: none;
}
  nav ul{
    position: fixed;
    top: 70px;
    background-color: #313131;
    height: 100vh;
    width: 100%;
    text-align: left;
    left: 100%;    
  }
  
  nav ul li{
    display: block;
    margin: 0px 0px;
    padding: 0px 25px;
    line-height: 75px;
    border-bottom: 1px solid #27d8ac;
  }
  nav ul li a{
    font-size: medium;
  }
 
  #check:checked ~ ul{
    left: 50%;
  }

  /*Barra de navegação superior fixa com container*/
  .conteiner{
    width: 100%;
    margin: 0 auto;
    display:grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 70px;
    margin: 0px;
    padding: 0px;
    position: -webkit-sticky;
    position: fixed;
    top: 0px;
    background-color: #313131;
    box-shadow: 0px 0px 2px black;
    z-index: 1;
  }
  header{
    margin-left: 0vh;
    margin-top: 0vh;
    
  }
  #check:checked ~ ul{
    left: 50%;
    border: 1px solid #27d8ac;
  
  }
  .checkbtn_c{
    color: #27d8ac;
    font-size: 30px;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    max-width: 100%;
  }
  .Logo_c{
    margin-left: 50px;
    margin-top: 10px;
    max-width: 100%;
  }
  #check_c{
    display: none;
  }
}
@media (max-width: 490px){
  #serviços{
    grid-area: s;
    text-align: center;
  
  }
 
  .card{
    position: relative;
    width: 95%;
    height: 350px;
    margin: 50px 0px;
    
  }
  #conteudo{
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;  
    grid-template-areas: 
    "a a" 
    "l l"
    "s s" 
    "c c" 
    "w w" 
    "i i"
    "r r";
  }
  #apresentacao{
    width: 90vw;
    margin: 0 auto;
  }
  #contato h2{
    margin: 25px 10px;
  }
  #contato h3{
    margin: 25px 10px;
  }
  nav ul li a{
    font-size: small;
}

}
@media (max-width: 325px){

  #conteudo{
    margin: 0 auto;
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;  
    grid-template-areas: 
    "a a" 
    "l l"
    "s s" 
    "c c" 
    "w w" 
    "i i"
    "r r";
  }
    

  nav ul li{
    padding: 0px 10px;
  }

  nav ul li a{
  padding: 0px 10px;
  font-size: small;
  }

.card .front img{
  width: 100%;
  height: 100%;

  object-fit: fill;

}

}
@media (max-width: 250px){
  *{
  display:none;
}
}